<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/icon.jpg">
    <title>Dnd 5E</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="row align-center">
        <a href="/">
            <img src="/assets/header.jpg" alt="Dungeons-and-dragons"></a>

        {{#if user}}
        <p class="welcome-message">Welcome, {{user.user_name}}</p>
        <div class="login-features">
            <a href="/auth/logout">Log Out</a>
            <a href="/dashboard">Dashboard</a>
        </div>
        {{else}}
        <div class="login-features">
            <a href="/register">Register</a>
            <span>or</span>
            <a href="/login">Login</a>
        </div>
        {{/if}}
    </nav>
    {{{body}}}
</body>

</html>