{{#each post}}
<section class="postcard">
    <div class="posthead">
        <h2>{{title}}</h2>
        <h3>{{author.user_name}}</h3>
    </div>
    <div class="postbody">
    <p>{{text}}</p>
    <p>{{date}}</p>
    </div>

</section {{/each}}>