{{#each posts}}
<section class="postcard">
    <div class="posthead">
        <h2>{{this.title}}</h2>
        <h3>{{this.author.user_name}}</h3>
    </div>
    <div class="postbody">
        <p>{{this.text}}</p>
        <p>{{this.date}}</p>
    </div>
</section>
{{/each}}