<div class="div-form">
  <form class="standard-form" action="/auth/register" method="POST">
    <h1 class="gamer">load in!</h1>

    {{#each errors}}
    <p class="error text-center">{{this}}</p>
    {{/each}}

    <div class="container-form">
        <input class="user" type="text" name="user_name" placeholder="please enter a username">
      <input class="user" type="text" name="email" placeholder="please enter your email address">
      <input class="user" type="password" name="password" placeholder="please enter your password">
      <button class="user-btn">Roll for Initiative</button>
    </div>
</div>
</form>